.codebuddy/
.vscode/
.env
.env.*
*.env
*.db
*.sqlite
*.sqlite3
*.csv
result.json
screenshots/
__pycache__/
.server.pid
.web.pid
.trae/
server.zip
web.zip
logs/*
log
server/.idea/
server/data
server/logs/
server/server
server/certs
server/configs
server/assets/agent/oneclickvirt-agent-linux-*.tar.gz
server/oneclickvirt.db
server/oneclickvirt
web/node_modules
web/dist
web/dist.zip
# Storage directories
server/storage/*
server/storage/logs/*
server/storage/uploads/*
server/storage/exports/*
server/storage/configs/*
server/storage/certs/*
server/storage/cache/*
server/storage/temp/*
!server/storage/*/README.md
.DS_Store
server/.DS_Store*
web/.DS_Store*
test/.DS_Store*
.back/DS_Store*
data
.idea
.ocv-*
